---
title: false
styles: true
---

@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");

// Text colours
$headingColour: #242e2b !default;
$bodyColour: #384743;
$linkColour: #303f9f !default;
$hoverColour: #001970;
$focusColour: #001970;
$captionColour: #a8adac !default;
$white: #ffffff !default;

// Typography
$bodytype: (
  font-family: "Poppins, serif",
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: '"Poppins", serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;


@import "alembic";
